/* Desktop */
header {
    background:aqua;
    max-width:1160px; height:100px;
    margin:0 auto;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    position:relative;
}
header h1 {
    background:yellowgreen;
    width:100px; height:35px;
}
header h1 a {}
header h1 a img {width:100%}
header nav {
    background:burlywood;
}
header nav ul {
    display:flex;
    flex-flow:row nowrap;
}
header nav ul li {
    margin-right:20px;
}
header nav ul li:last-child {margin-right:0;}
header nav ul li a {
    font-size:1.333rem;
    letter-spacing:-0.02em;
}
/* 모바일메뉴 데스크탑에서 숨기기 */
header nav .m_nav {display:none;}
/* m-nav-open */
header .m_nav_open {
    background:greenyellow;
    display:none;
    position:absolute; top:100px;
    padding:52px 0 53px 0;
    width:100%;
}
header .m_nav_open #close {
    position:absolute; right:15px; top:11px;
}
header .m_nav_open #close i {
    font-size:24px;
}
header .m_nav_open ul {
    background:darkorange;
}
header .m_nav_open ul li {
    text-align:center;
    padding: 0 0 30px 0;
}
header .m_nav_open ul li:last-child {
    padding: 0;
}
header .m_nav_open ul li a{
    font-size:1.333rem;
    letter-spacing:-0.02em;
}
/* main */
main {}
/* main-1. swiper-slide */
/* .swiper 플러그인의 정식명칭 클래스는
웹 페이지 1장에서 swiper가 2개이상 들어올 경우 디자인이 강제로 중복될 수 있으므로 개별 아이디 및 클래스명을
사용해서 강제로 선택자를 만들고 디자인한다. */
/* swiper-slide 반응형 설계를 할 경우 */
/* swiper-slide 자체가 가변형 기능을 내장하고 있기 때문에 가장 바깥쪽 swiper영역틀 기준으로
가변크기를 넣어주면 자동으로 반응형에 맞춰지는 슬라이드가 완성된다. */
main #pawin_slide {
    max-width:1160px;
    height:650px;
    background:yellowgreen;
}
main #pawin_slide .swiper-wrapper {}
main #pawin_slide .swiper-wrapper .swiper-slide {}
main #pawin_slide .swiper-wrapper .slide1 {
    background:url(../images/pawin_desk_top.jpg) center;
}
main #pawin_slide .swiper-wrapper .slide2 {
    background:url(https://picsum.photos/id/51/1160)
}
main #pawin_slide .swiper-wrapper .slide3 {
    background:url(https://picsum.photos/id/52/1160)
}
main #pawin_slide .swiper-wrapper .slide4 {
    background:url(https://picsum.photos/id/53/1160)
}
main #pawin_slide .swiper-button-prev,
main #pawin_slide .swiper-button-next{
    width:40px; height:40px;
}
main #pawin_slide .swiper-button-prev {
    background:url(../images/prev.png) no-repeat;
}
main #pawin_slide .swiper-button-next {
    background:url(../images/next.png) no-repeat;
}
/* swiper-slide 라이브러리에서 기본 제공하는 이전, 다음 숨기기 */
main #pawin_slide .swiper-button-prev::after,
main #pawin_slide .swiper-button-next::after {display:none;}
main #pawin_slide2 {
    max-width:1160px; height:300px;
    background:aquamarine;
}
main #pawin_slide2 .swiper-wrapper {}
main #pawin_slide2 .swiper-wrapper .swiper-slide {}
main #pawin_slide2 .swiper-wrapper .slide1 {
    background:url(https://picsum.photos/id/200/1160);
}
main #pawin_slide2 .swiper-wrapper .slide2 {
    background:url(https://picsum.photos/id/201/1160);
}
main #pawin_slide2 .swiper-wrapper .slide3 {
    background:url(https://picsum.photos/id/202/1160);
}
main #pawin_slide2 .swiper-button-prev {
    background:url(../images/prev2.png);
}
main #pawin_slide2 .swiper-button-next {
    background:url(../images/next2.png);
}
main #pawin_slide2 .swiper-button-prev,
main #pawin_slide2 .swiper-button-next {
    width:40px; height:40px;
}
main #pawin_slide2 .swiper-button-prev::after,
main #pawin_slide2 .swiper-button-next::after {display:none;}
main #pawin_slide3 {
    max-width:1160px; margin:0 auto;
    /* slide 대상으로 img 태그를 삽입한 경우 높이값은 이미지 태그 크기만큼 자동으로 설정되므로
    별도의 높이값은 작성할 필요가 없다. */
}
main #pawin_slide3 .swiper-wrapper .swiper-slide img {width:100%;}
main .dog_info {
    padding:100px 0 50px;
    font-size: 2rem; text-align:center;
}
main #dog_info_slide {
    background:aqua;
    max-width:1160px; margin:0 auto;
    width:calc(100% - 30px);
}
main #dog_info_slide .swiper-wrapper .swiper-slide img{width:100%;}